.bg-light{
    background-color: #00AB84 !important;
}

.bg-dark{
    opacity: 0.9;
}

.bg-dark:hover{
    opacity: 1;
}

footer{
    background-color: #00AB84;
}

footer .bloco-2 div a, footer .bloco-3 a{
    text-decoration: none;
    font-size: 34px;
    color: black;
}

footer .bloco-2 div a:hover, footer .bloco-3 a:hover {
    color: white;
}

body{
    background-color: #e8f1e9;
}